<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <center>
       
    {{>header}}
    
    <p>{{errorMessages}}</p>
        
    {{>footer}}
    </center>
</body>

</html>