<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Lalit Kumar. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="img/keeshu.jpg">
    
            
    </div>
    {{>footer}}
</body>

</html>